<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FGA_NUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FGA_NUtility.Properties.Settings>
            <setting name="FGA_NUtility_POL_Service" serializeAs="String">
                <value>https://api.plexonline.com/DataSource/Service.asmx</value>
            </setting>
        </FGA_NUtility.Properties.Settings>
    </applicationSettings>
</configuration>