<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FGA_PLATFORM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--本地数据库连接-->
    <!--<add key="ConnectionString" value="Data Source=DA-DC-WS08R2\SQLEXPRESS;database=FGA_PLATFORM;uid=sa;password=@wxl123456" />-->
    <!--<add key="ConnectionString" value="Data Source=DA-DC-WS08R2\SQLEXPRESS;database=FGA_PLATFORM;uid=sa;password=@wxl123456" />-->
    <!--数据库从46服务器迁移到37正式服务器DA-DC-SQL  modify by it-wxl 2017.07.22-->
    <!--<add key="ConnectionString" value="Data Source=DA-DC-DB;database=FGA_PLATFORM;uid=sa;password=Fy-db2018" />-->
    <add key="ConnectionString_WMS"  value="Data Source=DA-DC-DB;database=WMS_BarCode_V10;uid=sa;password=Fy-db2018" />
    <add key="ConnectionString_FGA"  value="Data Source=DA-DC-DB;database=FGA_PLATFORM;uid=sa;password=Fy-db2018" />
    <add key="ConnectionString_Plex" value="Data Source=DA-DC-DB;database=PlexDB;uid=sa;password=Fy-db2018" />
    
    <!--日志地址-->
    <add key="LogPath" value="C:\log_aptoa"/>
    <!--分页大小-->
    <add key="PageSize" value="100"/>
    <!--分页大小-->
    <add key="PageSize_1" value="100"/>
    <!--分页大小-->
    <add key="PageSize_2" value="500"/>
    <!--分页大小-->
    <add key="PageSize_3" value="1000"/>
    
    <add key="PageSizeBlog" value="20"/>
    <!--默认密码-->
    <add key="DefaultPSD" value="000000"/>
   
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120"/>
    <httpRuntime executionTimeout="1800" maxRequestLength="99999999" maxQueryStringLength="2097151"/>
    <customErrors mode="RemoteOnly" defaultRedirect="404.htm"/>
    <!--为了支持在url中传入html标签，如<red>，特有此设置-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <!--webservice相关-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <!--设置ajax 返回json字符串的最大长度-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--防止网页被Frame-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--防止网页被Frame-->
  <applicationSettings>
    <FGA_PLATFORM.Properties.Settings>
      <setting name="FGA_PLATFORM_TestPOL_Service" serializeAs="String">
        <value>https://testapi.plexonline.com/DataSource/Service.asmx</value>
      </setting>
      <setting name="FGA_PLATFORM_PLEXSOAP_Service" serializeAs="String">
        <value>https://api.plexonline.com/datasource/service.asmx</value>
      </setting>
      <setting name="FGA_PLATFORM_FGA_WS_Part_By_MDM_Add" serializeAs="String">
        <value>http://172.16.80.46:83/Web%20Service/Part_By_MDM_Add.asmx</value>
      </setting>
    </FGA_PLATFORM.Properties.Settings>
  </applicationSettings>
</configuration>