@charset "utf-8";
.bandwidth11{width:30%; float:left; height:243px; margin-right:1%;border:solid 1px #f00;}

.right_content {
    width: 100%;
    background-color:white;
}
.title{/*background:url(../images/title_bg2.jpg) repeat-x bottom;*/ height:32px; line-height:32px;font-weight:bold; font-size:14px; text-align:left; margin-top:0px; width:99%; position:relative;}
/*.title{background:url(../images/bg7.jpg) repeat-x; height:35px; line-height:35px; color:#fff; font-weight:bold; font-size:14px; padding-left:10px; text-align:left; margin:20px 0; width:99%;}*/
.enterInfo1 {
    border: 1px solid #4bb4d7;
    margin-top: 10px;
    width: 99%;
}

.datailTitle {
    background: rgba(0, 0, 0, 0) url("../images/title_bg.gif") repeat-x scroll center bottom;
    height: 42px;
    line-height: 50px;
    padding-left: 10px;
    width: 99%;
}

.analysis {
    border: 1px solid #78b7e2;
    float: left;
    width: 68%;
}


.device_table {
    width: 100%;
}
.device_table th {
        text-align: left;
    }

    .device_table td {
        text-align: left;
    }

    .device_table tr:hover {
        background-color: #cecdcd;
    }

.graph {
    width: 100%;
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}

.deviceColony {
    float: left;
    margin-right: 0;
    padding: 0;
}

.title {
    width: 100%;
}
.pop_up {
width:358px;
}
.pop_up_left {

height:123px;
}

